html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  position: relative;
}

.banner {
  background-color: #2b3851;
  position: absolute;
}

.robot {
  width: 320px;
  position: relative;
}

.robot-body {
  width: 320px;
  position: relative;
  top: 184px;

}

.robot-brain {
  width: 46px;
  position: relative;
  bottom: 119px;
  left: 137px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 46px;
}

.robot-head-right {
  left: 34.25%;
}

.robot-head-left {
  right: 45.43%;
}

.robot-head-right:hover {
  left: -34.25%;
}

.robot-head-left:hover {
  right: 45.43%;
}
