html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  height: 231px;
}

.robot {
  width: 320px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 0%;
  left: 43%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  bottom: 31%;
}

.robot-head-right {
  position: absolute;
  left: 50%;
}

.robot-head-left {
  position: absolute;
  right: 50%;
}

.robot:hover > .robot-brain {
}

.robot:hover > .robot-head-right {
  bottom: 41%;
  left: 62%;
}

.robot:hover > .robot-head-left {
  bottom: 41%;
  right: 62%;
}
